<template>
  <div>
    <div class="media">
      <div class="media-left" style="padding: 0 1.75rem; margin: 0">
        <profile-picture size="225px" />
      </div>
      <div class="media-content">
        <div class="columns">
          <div class="column">
            <h4 class="title is-3">
              Fouad Souak
              <b-icon icon="email" style="display: none;"></b-icon>
            </h4>
            <h4 class="title is-4">
              <span class="has-text-primary">23</span>
              propositions&nbsp;&nbsp;&nbsp;
              <span class="has-text-success">57</span> participations
            </h4>
            <p>Cet homme assure!</p>
            <br />
            <b-message
              title="Votre profil n'a pas encore été vérifié."
              type="is-danger"
            >
              Pour s'assurer que vous êtes bien un Briochin, nous vous prions de
              bien vouloir vérifier votre compte. Ne vous en faites pas, ça
              prend deux minutes et ça nous permettra juste de garantir que ce
              profil est bien à vous. ;)
            </b-message>
            <hr />
            <div class="block">
              <b-icon icon="twitter"></b-icon>
              <b-icon icon="linkedin"></b-icon>
              <b-icon icon="facebook"></b-icon>
            </div>
          </div>
          <div class="column is-one-quarter">
            <a class="button is-rounded">Modifier mon profil</a>
          </div>
        </div>
      </div>
    </div>
    <div class="tabs">
      <b-tabs type="is-toggle-rounded" v-model="activeTab">
        <b-tab-item icon="lightbulb" label="Contributions">
          <contribution />
          <contribution />
          <contribution />
        </b-tab-item>

        <b-tab-item icon="plus-one" label="Votes">
          <div class="card">
            <div class="card-content">
              <div class="columns">
                <div class="column">
                  <div>
                    <span class="tag is-info">Éducation</span>&nbsp;
                    <span class="tag is-success">Quartier de la Haie</span>
                  </div>
                  <div style="padding-top: 0.5rem">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nulla quam velit, vulputate eu pharetra nec, mattis ac
                    neque.
                  </div>
                </div>
                <div class="column is-one-fifth proposal__icon">
                  <b-icon
                    size="is-medium"
                    type="is-success"
                    icon="menu-up-outline"
                  ></b-icon>
                  <span class="is-size-3">
                    <img
                      src="https://via.placeholder.com/64"
                      class="profile-pic"
                      alt="Placeholder image"
                    />
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <div class="columns">
                <div class="column">
                  <div>
                    <span class="tag is-info">Éducation</span>&nbsp;
                    <span class="tag is-success">Quartier de la Haie</span>
                  </div>
                  <div style="padding-top: 0.5rem">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nulla quam velit, vulputate eu pharetra nec, mattis ac
                    neque.
                  </div>
                </div>
                <div class="column is-one-fifth proposal__icon">
                  <b-icon
                    size="is-medium"
                    type="is-danger"
                    icon="menu-down-outline"
                  ></b-icon>
                  <span class="is-size-3">
                    <img
                      src="https://via.placeholder.com/64"
                      class="profile-pic"
                      alt="Placeholder image"
                    />
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <div class="columns">
                <div class="column">
                  <div>
                    <span class="tag is-info">Éducation</span>&nbsp;
                    <span class="tag is-success">Quartier de la Haie</span>
                  </div>
                  <div style="padding-top: 0.5rem">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nulla quam velit, vulputate eu pharetra nec, mattis ac
                    neque.
                  </div>
                </div>
                <div class="column is-one-fifth proposal__icon">
                  <b-icon
                    size="is-medium"
                    type="is-success"
                    icon="menu-up-outline"
                  ></b-icon>
                  <span class="is-size-3">
                    <img
                      src="https://via.placeholder.com/64"
                      class="profile-pic"
                      alt="Placeholder image"
                    />
                  </span>
                </div>
              </div>
            </div>
          </div>
        </b-tab-item>

        <b-tab-item :visible="showBooks" icon="heart" label="Favoris"
          >What light is light, if Silvia be not seen? <br />What joy is joy, if
          Silvia be not by— <br />Unless it be to think that she is by <br />And
          feed upon the shadow of perfection? <br />Except I be by Silvia in the
          night, <br />There is no music in the nightingale.
        </b-tab-item>
      </b-tabs>
    </div>
  </div>
</template>

<script>
import ProfilePicture from "~/components/ProfilePicture.vue";
import Contribution from "~/components/Contribution.vue";

export default {
  components: {
    ProfilePicture,
    Contribution
  }
};
</script>

<style scoped>
.tabs {
  margin-top: 1rem;
}

.profile-pic {
  border-radius: 100%;
}

.proposal__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
