<template>
  <div class="_container">
    <div v-if="! errors && contributions">
      <contribution
        v-for="contribution in contributions"
        :key="contribution.id"
        :data="contribution"
      />
    </div>
    <error-card v-else-if="errors" :data="errors"/>
  </div>
</template>

<script>
import Contribution from "~/components/Contribution";
import ErrorCard from "~/components/ErrorCard";

export default {
  computed: {
    contributions () { return this.$store.state.proposals.proposals; },
    errors () { return this.$store.state.proposals.errors; }
  },
  components: {
    Contribution,
    ErrorCard
  },
  props: {
    id: Number
  },
  async mounted() {
    // TODO: Implement search
    if (this.id) {
      await this.$store.dispatch("proposals/getProposal", this.id);
    } else {
      await this.$store.dispatch("proposals/getProposals");
    }
  }
}
</script>
