<template>
  <section
    v-if="! error && sections"
    :data="sections"
    :wrap="wrap" />
  <error-card
    v-else-if="error"
    :data="error" />
</template>

<script>

import Section from "~/components/Section";
import ErrorCard from "~/components/ErrorCard";

export default {
  computed: {
    sections () { return this.$store.state.sections.sections; },
    error () { return this.$store.state.sections.error; }
  },
  components: {
    Section,
    ErrorCard
  },
  props: {
    slug: Number,
    wrap: Boolean
  },
  mounted: async function() {
    // TODO: Implement search
    if (this.slug) {
      await this.$store.dispatch("sections/getSection", this.slug);
    } else {
      await this.$store.dispatch("sections/getSections", this.filters);
    }
  }
}
</script>