<template>
  <div class="_container">
    <div v-if="! errors && surveys">
      <survey
        v-for="survey in surveys"
        :key="survey.id"
        :data="survey"
      />
    </div>
    <error-card v-else-if="errors" :data="errors"/>
  </div>
</template>

<script>
import Survey from "~/components/Survey";
import ErrorCard from "~/components/ErrorCard";

export default {
  computed: {
    surveys () { return this.$store.state.surveys.surveys; },
    errors () { return this.$store.state.surveys.errors; }
  },
  components: {
    Survey,
    ErrorCard
  },
  props: {
    id: Number
  },
  async mounted() {
    // TODO: Implement search
    if (this.id) {
      await this.$store.dispatch("surveys/getSurvey", this.id);
    } else {
      await this.$store.dispatch("surveys/getSurveys");
    }
  }
}
</script>
