<template>
  <div class="comment">
    <div class="level">
      <div class="level-left">
        <profile-picture size="40px" />&nbsp;&nbsp;&nbsp;{{ user.username }}
      </div>
    </div>
    <p>
      {{ comment }}
    </p>
    <div class="level vote">
      <div class="level-right">
        <b-icon icon="arrow-up-bold-circle-outline" type="is-success"></b-icon>
        <span class="vote__label has-text-success">{{ score }}</span>
        <b-icon icon="arrow-down-bold-circle-outline" type="is-danger"></b-icon>
      </div>
    </div>
  </div>
</template>

<script>
import ProfilePicture from "~/components/ProfilePicture.vue";

export default {
  components: {
    ProfilePicture
  },
  props: {
    comment: String,
    user: Object,
    score: Number
  }
};
</script>

<style scoped>
.comment {
  padding: 1.25rem;
}

.vote {
  margin-top: 0.25rem;
  justify-content: flex-end;
}

.vote__label {
  margin: 0 0.5rem;
  font-size: 1.15rem;
}

.vote .icon {
  border-radius: 100%;
  cursor: pointer;
}

.vote .icon:hover {
  background: #eee;
}
</style>
