<template>
  <div class="modal__body">
    <div class="body__tags">
      <tag
        type="topic"
        slug="education"
        name="Éducation"
        class="is-medium"
        ignoreState
      />
      <tag
        type="place"
        slug="le-plenel"
        name="Le Plenel"
        class="is-medium"
        ignoreState
      />
    </div>
    <div>
      <h2 class="is-size-2">{{ title }}</h2>
    </div>
    <div class="level">
      <div class="level-left">
        <profile-picture size="40px" />&nbsp;&nbsp;&nbsp;
        <h4 class="is-size-4">{{ author.username }}</h4>
      </div>
    </div>
    <corpus />
    <nuxt-link
      class="button is-link body__link"
      v-if="withLink"
      :to="{ name: 'contributions-id', params: { id: id } }"
      >Lire la proposition complète</nuxt-link
    >
    <h4 class="is-size-4">Commentaires</h4>
    <comment
      v-for="comment in comments"
      v-bind:user="comment.user"
      v-bind:comment="comment.comment"
      v-bind:score="comment.score"
    />
    <hr />
    <b-field label="Écrire le votre">
      <b-input
        v-model="formComment"
        icon="pencil"
        placeholder="Votre commentaire"
      ></b-input>
    </b-field>
    <a :disabled="!formComment" class="button is-info">Envoyer</a>
  </div>
</template>

<script>
import Comment from "~/components/Comment.vue";
import Corpus from "~/components/ContributionCorpus.vue";
import ProfilePicture from "~/components/ProfilePicture.vue";
import Tag from "~/components/Tag.vue";

export default {
  data: function() {
    return {
      formComment: ""
    };
  },
  components: {
    Comment,
    Corpus,
    ProfilePicture,
    Tag
  },
  props: {
    withLink: Boolean,
    id: Number,
    title: String,
    body: String,
    places: Array,
    topics: Array,
    comments: Array,
    author: Object
  }
};
</script>

<style scoped>
.modal__body {
  margin: 1rem;
}

.body__tags {
  margin-bottom: 1rem;
}

.body__link {
  margin-bottom: 1rem;
}
</style>
