<template>
  <div style="padding-top: 0.5rem">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dui arcu,
    feugiat in consectetur id, lacinia ac lorem. Nullam feugiat felis mi. Nullam
    a pretium ante, id suscipit mauris. Sed pulvinar, enim vitae ornare
    faucibus, orci nisi consequat purus, sed posuere sapien sapien in ipsum.
    Proin eu est placerat, laoreet lacus in, sollicitudin lorem. Vivamus sed
    faucibus odio. Cras dignissim tempor interdum. Praesent non convallis eros.
    Mauris imperdiet semper enim ut feugiat. Suspendisse sed molestie diam, ac
    malesuada eros. Sed ac pretium magna, et placerat turpis. Curabitur dictum,
    metus vel aliquet bibendum, tellus nisi tristique lectus, a viverra ante
    velit quis libero. Nam luctus et ante vitae sagittis. Pellentesque habitant
    morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    Curabitur ac ultrices nisi.
    <br />
    <br />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
    laoreet scelerisque magna, in sollicitudin ligula suscipit sit amet. Sed
    elementum, eros id mollis lacinia, sapien elit vulputate velit, id
    scelerisque libero lacus eget lacus. Curabitur nibh urna, imperdiet
    hendrerit libero nec, consequat maximus ligula. In posuere ex non erat
    viverra tempus in et nunc. Curabitur consectetur lectus at dolor rhoncus
    dignissim nec sit amet dui. Aliquam vulputate porta mauris at pretium.
    <br />
    <br />
    <img src="https://via.placeholder.com/1280x380" class="section__image" />
    <i>Image d'exemple</i>
    <br />
    <br />Duis mollis et libero nec dapibus. Morbi vulputate justo at felis
    laoreet varius. Suspendisse potenti. Mauris ante purus, interdum ut
    consectetur ac, commodo a ipsum. Nullam pretium, enim vitae finibus rutrum,
    nunc neque pellentesque ante, ac mattis orci nunc vitae sapien. Cras at
    justo ipsum. Praesent sed pellentesque nunc, ac dictum mi. Suspendisse
    pharetra bibendum metus eu placerat. Fusce ultrices odio ac hendrerit
    lacinia. Integer suscipit, nibh non malesuada faucibus, ligula nunc
    porttitor dui, a semper risus augue eu dui. Maecenas congue molestie sapien
    consequat placerat.
    <br />
    <br />
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <img src="https://bulma.io/images/placeholders/128x128.png" />
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>John Smith</strong>
            <small>@johnsmith</small>
            <small>31m</small>
            <br />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas
            non massa sem. Etiam finibus odio quis feugiat facilisis.
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
            <a class="level-item">
              <span class="icon is-small">
                <i class="fas fa-reply"></i>
              </span>
            </a>
            <a class="level-item">
              <span class="icon is-small">
                <i class="fas fa-retweet"></i>
              </span>
            </a>
            <a class="level-item">
              <span class="icon is-small">
                <i class="fas fa-heart"></i>
              </span>
            </a>
          </div>
        </nav>
      </div>
    </article>
    Nunc id enim tincidunt, sagittis nisl quis, bibendum mi. Sed vitae luctus
    lacus. Integer feugiat elementum finibus. Etiam semper efficitur facilisis.
    Nam eget viverra neque. Etiam semper, eros in sollicitudin efficitur, leo
    nisl suscipit diam, ut sodales ante augue tempus ligula. Nulla ut mauris
    imperdiet risus pretium condimentum. Suspendisse velit metus, scelerisque in
    feugiat non, imperdiet et mi. Vivamus bibendum efficitur ligula, ac sagittis
    mauris tincidunt nec. Donec ornare neque eros.
    <br />
    <br />
    <article class="media article">
      <figure class="media-left">
        <b-icon icon="file-document" size="is-large"></b-icon>
      </figure>
      <div class="media-content">
        <div class="content">
          <a>
            <h4 class="is-size-4">Lien d'exemple vers un article</h4>
          </a>
          <p>Description d'exemple pour cet article</p>
        </div>
      </div>
    </article>
    <br />Quisque at purus sit amet mauris molestie sollicitudin. Sed non tortor
    non erat mattis pellentesque. Aenean at accumsan augue. Mauris lacinia est
    ut massa porttitor ultrices. Fusce ultricies elementum metus, at scelerisque
    odio maximus non. Nulla tincidunt ipsum turpis, vitae dignissim ex commodo
    vel. Proin a sapien eros. Donec elementum blandit aliquam. Aliquam porttitor
    nulla sit amet laoreet auctor. Vestibulum ex massa, rutrum eu lectus eu,
    vulputate hendrerit justo. Nullam vulputate ut mi bibendum dignissim. Nam
    molestie pretium nunc, non pharetra risus mollis at. Donec mattis ligula
    tortor.
    <br />
    <br />
  </div>
</template>

<style scoped>
.article {
  cursor: pointer;
  padding: 1rem;
  background: #efefef;
}

.article:hover {
  background: #c0c9f1;
}
</style>
