<template>
  <div>
    <b-modal :active.sync="isContributionModalActive" has-modal-card>
      <div class="modal-card" style="width: auto">
        <div class="modal-card-body">
          <contribution-body
            withLink
            :id="id"
            :title="title"
            :body="body"
            :author="author"
            :places="places"
            :topics="topics"
            :comments="comments"
          />
        </div>
      </div>
    </b-modal>
    <div class="card proposal" @click="isContributionModalActive = true">
      <div class="card-content">
        <div class="columns">
          <div class="column">
            <div>
              <tag
                ignoreState
                type="place"
                v-for="place in places"
                v-bind:slug="place.slug"
                v-bind:name="place.name"
              />
              <tag
                ignoreState
                type="topic"
                v-for="topic in topics"
                v-bind:slug="topic.slug"
                v-bind:name="topic.name"
              />
            </div>
            <div style="padding-top: 0.5rem">{{ title }}</div>
          </div>
          <div v-if="displayScore" class="column is-one-fifth proposal__score">
            <b-icon :icon="ratingToIcon"></b-icon>
            <span class="is-size-3">{{ score }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ContributionBody from "~/components/ContributionBody.vue";
import Tag from "~/components/Tag.vue";

export default {
  data() {
    return { isContributionModalActive: false };
  },
  props: {
    displayScore: Boolean,
    title: String,
    score: Number,
    places: Array,
    topics: Array,
    body: String,
    author: Object,
    comments: Array,
    id: Number
  },
  components: {
    ContributionBody,
    Tag
  },
  computed: {
    ratingToIcon() {
      return this.score >= 0 ? "menu-up-outline" : "menu-down-outline";
    }
  }
};
</script>

<style scoped>
.proposal {
  cursor: pointer;
}

.proposal:hover {
  background-color: #ddd;
}

.proposal__score {
  display: flex;
  align-items: center;
}
</style>
