<template>
  <div>
    <div
      v-for="error in errors"
      :key="error.message">
      {{ error.message }}
    </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    errors: Array,
  }
}
</script>
