<template>
  <footer class="footer">
    <div class="level">
      <div class="level-left">
        © Cercle Briochin, 2019 — 2019
      </div>
      <div class="level-right">
        <a>Comment ça marche ?</a>
        <a>Écrivez-nous</a>
        <a>Mentions Légales</a>
        <a>Procsea v0.1.0</a>
      </div>
    </div>
  </footer>
</template>

<style scoped>
.footer {
  padding: 1.5rem 1.5rem;
}

.level-right > a {
  margin-left: 1rem;
}
</style>
