<template>
  <section class="columns">
    <div class="column">
      <h1 class="title is-1">
        La plateforme numérique du Saint-Brieuc de demain
      </h1>
      <div class="card">
        <b-modal :active.sync="isIntroductionModalActive">
          <p class="image is-4by3">
            <img src="https://via.placeholder.com/1280x960" />
          </p>
        </b-modal>
        <div class="media" style="align-items: stretch;">
          <div class="media-left">
            <img
              src="https://via.placeholder.com/450x325"
              class="aside-pic"
              alt="Placeholder image"
              @click="isIntroductionModalActive = true"
            />
          </div>
          <div
            class="media-content"
            style="display: flex; align-items: center;"
          >
            <div class="card-content">
              <h4 class="title is-4">La volonté d'une ville nouvelle</h4>
              <p>
                Pep den en deus gwir d'ar frankiz d'en em vodañ ha d'en em
                gevreañ e peoc'h. Pep den en deus gwir da glask repu ha da
                gavout bod e broioù all pa vez heskinerezh. Ar gwir-mañ n'haller
                ket daveiñ dezhañ pa vez klask war un den gant gwir abeg evit
                torfedoù a genwir pe evit oberoù kontrol da balioù ha pennaennoù
                ar Broadoù-Unanet.
              </p>
              <br />
              <div class="button is-primary is-outlined">Mode d'emploi</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return { isIntroductionModalActive: false };
  }
};
</script>

<style scoped>
.aside-pic {
  height: 100%;
}

.aside-pic:hover {
  filter: brightness(0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
</style>
