<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start navbar-search">
        <div class="navbar-search__control">
          <b-field class="yes">
            <b-autocomplete
              class="control__autocomplete"
              v-model="name"
              :data="filteredDataArray"
              open-on-focus
              placeholder="e.g. jQuery"
              size="is-large"
              icon="magnify"
              field="name"
              @select="option => (selected = option)"
            >
              <template slot-scope="choices">
                <span v-for="tag in choices.option.tags" :key="tag.name">
                  <tag
                    :name="tag.name"
                    :type="tag.type"
                    slug="oui"
                    ignoreState
                    style="margin-right: 0.5rem"
                  />
                </span>
                <a href="google.com">{{ choices.option.name }}</a>
              </template>

              <template slot="empty">No results found</template>
            </b-autocomplete>
          </b-field>
        </div>
      </div>
      <UserSection/>
    </div>
  </nav>
</template>

<script>
import UserSection from "~/components/UserSection.vue";
import Tag from "~/components/Tag.vue";

export default {
  components: {
    Tag,
    UserSection
  },
  data() {
    return {
      choices: [
        {
          id: 1,
          name: "Proposition une",
          tags: [
            { name: "Éducation", type: "topic" },
            { name: "Le Plenel", type: "place" }
          ]
        },
        {
          id: 2,
          name: "Sondage deux",
          tags: [
            { name: "Urbanisme", type: "topic" },
            { name: "Quartier d'exemple", type: "place" }
          ]
        },
        {
          id: 3,
          name: "Sondage trois",
          tags: [
            { name: "Transport", type: "topic" },
            { name: "Préfecture", type: "place" }
          ]
        }
      ],
      name: "",
      selected: null
    };
  },
  computed: {
    filteredDataArray() {
      return this.choices.filter(option => {
        return (
          option.name
            .toString()
            .toLowerCase()
            .indexOf(this.name.toLowerCase()) >= 0
        );
      });
    }
  }
};
</script>

<style>
/* Cannot be scoped due to interacting with buefy */

.navbar {
  padding: 0 0.75rem;
}

.navbar-search {
  flex-grow: 1;
}

.navbar-search__control {
  width: 100%;
}

.control__autocomplete .input {
  box-shadow: 0 0 0 0;
  border: 0;
  border-radius: 0;
}
</style>
