<template>
  <div class="card">
    <div class="card-content">
      Pep den en deus gwir da vont ha dont en e frankiz ha da zibab e annez e
      diabarzh ur Stad.
      <div class="control has-icons-left" style="margin-top: 1rem">
        <input class="input" type="text" placeholder="Adresse e-mail" />
        <span class="icon is-left">
          <i class="mdi mdi-18px mdi-email"></i>
        </span>
      </div>
    </div>
  </div>
</template>
