<template>
  <div class="wrapper" :style="'width: ' + size + '; height: ' + size">
    <img
      src="https://via.placeholder.com/500"
      class="wrapper__picture"
      alt="Placeholder image"
    />
  </div>
</template>

<script>
export default {
  props: {
    size: String
  }
};
</script>

<style scoped>
.wrapper {
  border-radius: 100%;
  border: solid 2px orange;

  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper__picture {
  width: 95%;
  height: 95%;
  border-radius: 100%;
}
</style>
