<template>
  <div class="proposals-section">
    <img :src="cover" class="section__image" />
    <div class="section__content">
      <h1 class="is-size-1">{{ name }}</h1>
      <p>
        {{ description }}
      </p>
      <hr />
      <div class="content__proposals">
        <contribution
          display-score
          v-for="proposal in proposals"
          v-bind:id="proposal.id"
          v-bind:title="proposal.title"
          v-bind:score="proposal.score"
          v-bind:places="proposal.places"
          v-bind:topics="proposal.topics"
          v-bind:body="proposal.raw_description_payload"
          v-bind:author="proposal.author"
          v-bind:comments="proposal.comments"
        />

        <nuxt-link :to="{ name: 'contributions-slug', params: { slug: slug } }">
          <div v-if="wrap" class="content__more">
            En voir plus
            <b-icon icon="arrow-right-bold" size="is-small"></b-icon>
          </div>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
import Contribution from "~/components/Contribution.vue";

export default {
  components: {
    Contribution
  },
  props: {
    slug: String,
    name: String,
    cover: String,
    description: String,
    proposals: Array,
    wrap: Boolean
  }
};
</script>

<style scoped>
.proposals-section {
  margin-bottom: 2rem;
}

.section__content {
  padding: 0.25rem 0.5rem;
}

.content__more {
  cursor: pointer;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  padding: 0.5rem 0;
  width: 100%;
  text-align: center;
}

.content__more:hover {
  background: #eee;
}
</style>
