<template>
  <aside class="sidebar menu">
    <ul class="menu-list">
      <img class="menu-list__logo" src="~assets/logo.png" />
      <li>
        <nuxt-link to="/"
          ><span class="icon is-medium"
            ><i class="mdi mdi-24px mdi-home"></i></span
          >Accueil</nuxt-link
        >
      </li>
      <li>
        <nuxt-link to="/contributions"
          ><span class="icon is-medium"
            ><i class="mdi mdi-24px mdi-pencil-box"></i></span
          >Contributions</nuxt-link
        >
      </li>
      <li>
        <nuxt-link to="/sondages"
          ><span class="icon is-medium"
            ><i class="mdi mdi-24px mdi-chart-pie"></i></span
          >Sondages</nuxt-link
        >
      </li>
      <li>
        <a href="https://medium.com/" target="_blank" rel="noopener noreferrer"
          ><span class="icon is-medium"
            ><i class="mdi mdi-24px mdi-newspaper"></i></span
          >Publications</a
        >
      </li>
      <li>
        <a
          href="https://cerclebriochin.org/"
          target="_blank"
          rel="noopener noreferrer"
          ><span class="icon is-medium"
            ><i class="mdi mdi-24px mdi-pier-crane"></i></span
          >Le Cercle Briochin</a
        >
      </li>
      <hr />
      <button class="button is-primary is-fullwidth">Je contribue</button>
    </ul>
  </aside>
</template>

<style scoped>
hr {
  background-color: #444;
}

.sidebar {
  display: flex;
  padding-top: 2rem;
  background: #eee;
  font-weight: 600;
}

.nuxt-link-exact-active,
.nuxt-link-exact-active:hover,
.nuxt-link-exact-active:active,
.nuxt-link-exact-active:focus {
  border: 0;
  color: purple;
}

.sidebar > .menu-list {
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}

.menu-list__logo {
  margin-bottom: 1rem;
}

.menu-list .icon {
  position: relative;
  top: 3px;
  left: 3px;
  margin-right: 0.75rem;
}
</style>
