<template>
  <div class="card">
    <div class="card-content">
      <div class="columns">
        <div class="column">
          <div v-if="data.tags" class="tags">
            <tag
              ignoreState
              class="is-large is-rounded"
              v-for="tag in data.tags"
              :key="tag.slug"
              :slug="tag.slug"
              :name="tag.name"
              type="topic"
            />
          </div>
          <h4 class="title is-4">{{ data.title }}</h4>
          <p>{{ data.description }}</p>
          <br>
          <div class="level" style="margin-top: auto; align-self: flex-end">
            <div class="level-left">{{ data.total }} votants</div>
            <div class="level-right">
              <a class="button is-primary">Je participe!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <la-polar :width="250" fillContainer :data="survey.results">
          <la-pie prop="pv" :angles="[-Math.PI / 2, Math.PI / 2]" :radius="[50, 100]"></la-pie>
        </la-polar>
      </div>
    </div>
  </div>
</template>

<script>
import Tag from "~/components/Tag.vue";

export default {
  props: {
    data: Object
  },
  components: {
    Tag
  }
};
</script>

<style scoped>
.sondage {
  width: 100%;
  height: 1.5rem;
  background-color: #90aabb;
}
</style>
