<template>
  <span :class="tagClass" class="tag" v-on:click="toggle">{{ name }}</span>
</template>

<script>
export default {
  props: {
    type: String,
    slug: String,
    name: String,
    ignoreState: Boolean
  },
  computed: {
    displayType: function() {
      var typeToClass = {
        place: "is-success",
        topic: "is-info"
      };

      return typeToClass[this.type];
    },
    tagClass: function() {
      if (this.ignoreState) return this.displayType;
      else {
        switch (this.displayType) {
          case "is-success":
            return this.$store.state.tags.selected.indexOf(this.slug) > -1
              ? "is-success"
              : "is-success-outline";
          case "is-info":
            return this.$store.state.tags.selected.indexOf(this.slug) > -1
              ? "is-info"
              : "is-info-outline";
        }
      }
    }
  },
  methods: {
    toggle(e) {
      if (this.$store.state.tags.selected.indexOf(this.slug) > -1)
        this.$store.commit("tags/remove", this.slug);
      else this.$store.commit("tags/add", this.slug);
    }
  }
};
</script>

<style scoped>
.tag {
  cursor: pointer;
  user-select: none;
  transition: all 300ms ease-out;
}

.tag:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.is-info-outline {
  background: transparent;
  border: solid 1px #167df0;
}

.is-success-outline {
  background: transparent;
  border: solid 1px #23d160;
}
</style>
