<template>
  <div class="navbar-end">
    <b-dropdown hoverable aria-role="list">
      <a class="navbar-item" slot="trigger">
        <b-icon icon="bell-outline"></b-icon>
      </a>

      <b-dropdown-item aria-role="listitem">Action</b-dropdown-item>
      <b-dropdown-item aria-role="listitem">Another action</b-dropdown-item>
      <b-dropdown-item aria-role="listitem">Something else</b-dropdown-item>
    </b-dropdown>
    <b-dropdown hoverable aria-role="list">
      <a class="navbar-item" slot="trigger">
        <b-icon icon="message-outline"></b-icon>
      </a>

      <b-dropdown-item aria-role="listitem">
        <img
          src="https://via.placeholder.com/30"
          class="profile-pic"
          alt="Placeholder image"
        />
        Action
      </b-dropdown-item>
      <b-dropdown-item aria-role="listitem">Another action</b-dropdown-item>
      <b-dropdown-item aria-role="listitem">Something else</b-dropdown-item>
    </b-dropdown>

    <b-dropdown hoverable>
      <a class="navbar-item" slot="trigger">
        <img
          src="https://via.placeholder.com/120"
          class="profile-pic"
          alt="Placeholder image"
        />
        <span>Fouad Souak</span>
        <b-icon icon="menu-down"></b-icon>
      </a>

      <b-dropdown-item>
        <nuxt-link to="/profil/moi">Mon profil</nuxt-link>
      </b-dropdown-item>
      <b-dropdown-item>Options</b-dropdown-item>
      <b-dropdown-item class="admin-section">Administration</b-dropdown-item>
      <b-dropdown-item>Déconnexion</b-dropdown-item>
    </b-dropdown>
  </div>
</template>

<style scoped>
.profile-pic {
  border-radius: 100%;
  margin-right: 0.75rem;
}

.admin-section {
  background-color: #ce6262;
  font-weight: 700;
  color: white;
}

.admin-section:hover {
  background-color: #7a2121;
  color: white;
}
</style>
