<template>
  <div>
    <h4 class="title is-4">Sondages à la une</h4>
    <survey />
    <br />
    <h4 class="title is-4">Derniers sondages</h4>
    <div class="columns">
      <div class="column">
        <survey />
      </div>
    </div>
  </div>
</template>

<script>
import Survey from "~/containers/Survey.vue";

export default {
  components: {
    Survey
  }
};
</script>

<style scoped>
.sondage {
  width: 100%;
  height: 1.5rem;
  background-color: #90aabb;
}
</style>
