<template>
  <div class="main-container">
    <no-ssr>
      <cookie-law />
    </no-ssr>
    <div class="sub-container">
      <section class="columns page">
        <Sidebar class="column is-one-fifth" />
        <div class="column page__content">
          <Navbar />
          <nuxt class="content__nuxt" />
          <Footer />
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import Navbar from "~/components/Navbar.vue";
import Sidebar from "~/components/Sidebar.vue";
import Footer from "~/components/Footer.vue";
import CookieLaw from 'vue-cookie-law';

export default {
  components: {
    Sidebar,
    Navbar,
    Footer,
    CookieLaw,
  }
};
</script>
<style>
html,
body {
  margin: 0;
  padding: 0;

  min-width: 100vw;
  width: 100vw;
  max-width: 100vw;

  min-height: 100vw;
  height: 100vw;
  max-height: 100vw;

  min-width: 100%;
  width: 100%;
  max-width: 100%;

  min-height: 100%;
  height: 100%;
  max-height: 100%;

  overflow: hidden;
}

.main-container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.sub-container {
  display: table-cell;
  height: 100%;
}

.page {
  height: 100%;
  margin: 0 !important;
}

.page__content {
  overflow-y: scroll;

  padding: 0.75rem 0;
}

.content__nuxt {
  margin-top: 2rem;
  padding: 0 2rem;
}
</style>
