<template>
  <div>
    <div class="control has-icons-left has-icons-right">
      <input class="input is-large" type="text" placeholder="Rechercher" />
      <span class="icon is-large is-left">
        <i class="mdi mdi-32px mdi-magnify"></i>
      </span>
    </div>
  </div>
</template>
