<template>
  <div>
    <introduction />

    <section class="columns">
      <div class="column is-one-third">
        <h4 class="title is-4">Sondages à la une</h4>

        <survey />
      </div>
      <div class="column">
        <h4 class="title is-4">Les 3 idées de la semaine</h4>

        <contribution />
      </div>
    </section>
    <section class="columns">
      <div class="column is-one-third">
        <h4 class="title is-4">S'inscrire à la newsletter</h4>

        <newsletter />
      </div>
      <div class="column">
        <h4 class="title is-4">Notre prochain évènement</h4>
        <div class="card">
          <div class="card-content">
            An neb a labour en deus gwir da vezañ paeet reizh ha mat evit ma
            c'hellfe, eñ hag e diegezh, bevañ en un doare a zere ouzh
            dellezegezh mab-den, ha mar deo ret ouzhpenn, da gaout gwarez
            kevredigezhel dre hentoù all.
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Introduction from "~/components/Introduction.vue";
import Contribution from "~/containers/Contribution.vue";
import Newsletter from "~/components/Newsletter.vue";
import Survey from "~/containers/Survey.vue";

export default {
  computed: {
    proposals() {
            return this.$store.state.proposals.proposals.slice(0, 3);
        },
    survey() {
            return this.$store.state.surveys.surveys[0];
        }
  },
  components: {
    Introduction,
    Contribution,
    Newsletter,
    Survey
  }
};
</script>

<style scoped>
.proposal__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sondage {
  width: 100%;
  height: 1.5rem;
  background-color: #90aabb;
}
</style>
