<template>
  <div class="proposals-section">
    <nuxt-link to="/contributions" class="section__return-link">
      <b-icon icon="arrow-left-bold" size="is-small"></b-icon>Retour aux
      propositions
    </nuxt-link>
    <contribution-body
      :id="proposal.id"
      :title="proposal.title"
      :body="proposal.raw_description_payload"
      :author="proposal.author"
      :places="proposal.places"
      :topics="proposal.topics"
      :comments="proposal.comments"
    />
  </div>
</template>

<script>
import ContributionBody from "~/components/ContributionBody.vue";

export default {
  components: {
    ContributionBody
  },
  asyncData({ $axios }) {
    return $axios.get("http://localhost:8000/proposals/1").then(res => {
            return { proposal: res.data };
        });
  }
};
</script>

<style scoped>
.section__return-link {
  display: block;
  padding-bottom: 1rem;
}
</style>
