<template>
  <div class="section-page">
    <nuxt-link to="/contributions" class="page__return-link">
      <b-icon icon="arrow-left-bold" size="is-small"></b-icon>
      Retour aux propositions
    </nuxt-link>
    <section
      :slug="this.$params.slug"
    />
  </div>
</template>

<script>
import Section from "~/containers/Section.vue";

export default {
  components: {
    Section
  },
};
</script>

<style scoped>
.page__return-link {
  display: block;
  padding-bottom: 1rem;
}
</style>
