<template>
  <div class="columns">
    <div class="column is-one-quarter filter-column">
      <div class="field">
        <b-switch>Afficher les contributions sur une carte</b-switch>
      </div>
      <hr>
      <h4 class="is-size-4">Trier par thème</h4>
      <br>
      <div class="tags">
        <tag type="topic" slug="education" name="Éducation"/>
        <tag type="topic" slug="urbanisme" name="Urbanisme"/>
        <tag type="topic" slug="ecologie" name="Écologie"/>
      </div>
      <h4 class="is-size-4">Trier par emplacement</h4>
      <br>
      <div class="tags">
        <tag type="place" slug="le-plenel" name="Le Plenel"/>
        <tag type="place" slug="la-haie" name="La Haie"/>
        <tag type="place" slug="centre" name="Centre"/>
        <tag type="place" slug="marche" name="Le Marché"/>
      </div>
    </div>
    <div class="column">
      <section-container wrap/>
    </div>
  </div>
</template>

<script>
import SectionContainer from "~/containers/Section.vue";
import Tag from "~/components/Tag.vue";

export default {
  components: {
    SectionContainer,
    Tag
  }
};
</script>

<style scoped>
.filter-column {
  padding: 2rem;
}
</style>
